<div class="login-container flex justify-center items-center min-h-screen bg-gray-100">
  @if (isLoggedIn) {
    <div class="login-form bg-white p-6 rounded shadow-md w-full max-w-sm space-y-6">
      <div class="text-center space-y-4">
        <h2 class="text-2xl font-bold mb-4">You are logged</h2>
        <div class="flex justify-between"> 
          <app-button 
            label="Dashboard" 
            buttonType="primary" 
            (click)="goToDashboard()" 
            class="w-1/2 mr-2" 
          ></app-button>
          <app-button 
            label="Log Out" 
            buttonType="secondary" 
            (click)="handleLogout()" 
            class="w-1/2 ml-2" 
          ></app-button>
        </div>
      </div>
    </div>
    
  } @else {
  <form (ngSubmit)="handleLogin()" #loginForm="ngForm"
    class="login-form bg-white p-6 rounded shadow-md w-full max-w-sm space-y-6">
    <h2 class="text-2xl font-bold text-center mb-4">Log In</h2>

    <div class="error-placeholder">
      @if (generalErrorMessage) {
      <div class="error-message">
        {{ generalErrorMessage }}
      </div>
      }
    </div>    

    <app-input label="Username" placeholder="Enter your username" type="text" [(ngModel)]="username" name="username"
      #usernameField="ngModel" required class="w-full"></app-input>

    <div class="error-placeholder">
      @if (errorMessages.username) {
      <div class="error-message">
        {{ errorMessages.username }}
      </div>
      }
    </div>

    <app-input label="Password" placeholder="Enter your password" type="password" [(ngModel)]="password" name="password"
      #passwordField="ngModel" required class="w-full"></app-input>

    <div class="error-placeholder">
      @if (errorMessages.password) {
      <div class="error-message">
        {{ errorMessages.password }}
      </div>
      }
    </div>

    <div class="flex justify-end mt-4">
      <app-button label="Log In" buttonType="primary" type="submit" class="w-auto"></app-button>
    </div>
  </form>
  }
</div>